extends layouts/main.pug 

block content
  h2.my-3
    case (method) 
      when 'put'
        | Update user
      when 'delete'
        | Delete user
      default
        | Crete new user

  form(name='userForm' method='POST' action=action enctype='multipart/form-data' onsubmit='return false' data-method=(method || 'post'))
    - let inputDisabled = method === 'delete' ? true : false
    div.form-group.my-2
      input(type='hidden' name='id' value=_id)
      label(for='name')
        | Name:
      input#name.form-control(name='name' required value=name disabled=inputDisabled)
    div.form-group.my-2
      label(for='age')
        | Age:
      input#age.form-control(name='age' required value=age disabled=inputDisabled type='number' min='18' max='120')
    div.panel-body.my-4
      button.btn.btn-sm.btn-primary.px-3.py-1.me-3(type='submit' name='submit')
        case method
          when 'put'
            | Update
          when 'delete'
            | Delete
          default
            | Create
      button.btn.btn-sm.btn-primary.px-3.py-1(type='reset' name='reset' style=`display: ${method === 'delete' ? 'none' : ''}`)
        case method
          when 'put'
            | Restore
          default
            | Reset
  a(href='/') Back to users list

  #modal.modal.fade( tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
    .modal-dialog
      .modal-content.p-3.text-center
        .modal-header
          h5#exampleModalLabel.modal-title Modal title
          button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
        .modal-body
          p#modal__message
        .mody-footer
          button#modal__btn.btn.btn-danger(type="button" data-bs-dismiss="modal") OK
  button(type='button' data-bs-toggle='modal' data-bs-target='#modal' hidden)
    | Launch demo modal

block script
  script(src='/js/form.js')

