extends layout.pug 

block content
  h2=title
  table.table.table-condensed.table-striped.table-bordered
    thead
      tr
        th ID
        th Name
        th Age
        th
    tbody
      each user in users
        tr
          td=user.id
          td=user.name
          td=user.age
          td.flex
            a(href=`/users/${user.id}` onclick='return false') Edit
            span.mx-3(role='presentation') |
            a(href=`/users/${user.id}` onclick='return false') Delete
  a(href='create') Add new user


